body{
    font-family: sans-serif;
}

.banner-container{
    background-color: rgb(165, 207, 199);
}

.banner-column{
    background-color:cadetblue;
}
.navbar-container{
    background-color: cadetblue;
}

.about-container{
    background-color:rgb(9, 170, 170);
}