body{
    font-family: sans-serif;
}

.banner-container{
    background-color: rgb(165, 207, 199);
}

.banner-column{
    background-color:cadetblue;
}
.navbar-container{
    top:0;
    background-color: cadetblue;
    position:sticky;
    z-index: 0;
}

.about-container{
    background-color:rgb(9, 170, 170);
}

.education-container{
    background-color:cornsilk;
}
.bg-redtype{
    background-color:rgb(177, 115, 64);
}
.bg-redtype-color{
    color:rgb(177, 115, 64);
}

.circle{
    background-color:rgb(177, 115, 64);
    height: 150px;
    width: 150px;
    border-radius:50%;

}
.project-container{
    background-color:rgb(7, 180, 248);
    text-decoration: none !important;
}

.form-container{
    background-color:black;
}

@media (min-width: 300px) {
    .navbar-container img{
        margin: auto;
    }
  }

@media (min-width: 756px) {
    .navbar-container img{
        margin-left: 30px;
    }

 }

 .inner-form{
     background-color: rgb(27, 17, 17);
 }

 .send-btn{
     background-color: rgb(208, 219, 191);
     padding:2px;
     border-radius: 25px;
 }
 .send-btn:hover{
    background-color: rgb(6, 252, 18);
    padding:2px;
    border-radius: 25px;
    color:hotpink;
}